.plagiarism.column-plagiarism {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	min-height: 42px;
	cursor: pointer;
}

.plagiarism-container {
	position: relative;
	height: 10px;
	width: 100%;
	border-radius: 10px;
	background: #4bde80;
	display: flex;
	overflow: hidden;
}

.plagiarism-percentage {
	padding: 0 0.5rem;
	color: #f87171;
	font-weight: bold;
}

.plagiarism-indicator {
	position: relative;
}

.plagiarism-red {
	width: var(--width, 0%);
	background: #f87171;
	animation: slidein 0.4s ease-in-out;
}

.plagiarism-green {
	background: #4bde80;
}

.circle--2 {
	stroke: #f8936b;
}

@keyframes slidein {
	from {
		width: 0%;
	}
	to {
		width: var(--width, 0%);
	}
}
